*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');






.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

header nav{
        
        
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        background-color: #1A0B2E;
        color: #FFFFFF;
        border-bottom: 2px solid #351165;
       
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}




nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}


nav ul a:hover{
          
    color: #FB09B4;
    transition: all 0.3s ease;

}

.btn{
    display: flex;
    gap: 10px;
}

.btn button{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    text-align: center;
      background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  )

  
    
    
}

.hide{
    display: none;
}


.btn button:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
    
}



.btnn{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 100px;

}

.btnn .btn1{
       display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    text-align: center;
      background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  )


}

.btnn .btn1:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
}


.btnn .btn2{

    border: 2px solid #00FF88;
    padding: 13px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;

}


.btnn .btn2:hover{
    background-color: #FFFFFF;
    color: black;
    transform: all 0.3s ease;
}





.btn button span{
    font-size: 16px;
}

.btn button .btn2{
    border: 3px solid green;

}





#banner{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    max-height:800px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}






.mic-container{
margin-top: 60px;
position:relative;
width:280px;
height:280px;
}


.bg-circle{
  width:100%;
  height:100%;
  display:flex;                 
  justify-content:center;
  align-items:center;

  position:relative;
}


.mic-icon{

  width:120px;
  position:absolute;
  top:28%;
  left:35%;
  transform:translate(-50%, -50%);
  width:90px;
   animation: micRotate 6s linear infinite;
   transform-origin: center;
}

@keyframes micRotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

  
}


.new-badge{
  position:absolute;
  top:10px;
  right:10px;
  background:#00ff9c;
  color:#000;
  font-size:14px;
  font-weight:bold;
  padding:6px 14px;
  border-radius:20px;
  animation: badgeFloat 1s ease-in-out infinite;
}


@keyframes badgeFloat{
  0%{
    transform: translateY(0) scale(1);
  }
  50%{
    transform: translateY(-6px) scale(1.05);
  }
  100{
    transform: translateY(0) scale(1);
  }
}


#banner h1{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 60px;
    margin-top: 40px;
}

#banner p{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 16px;
}


#About{
    width:100%;
     background-color: #1A0B2E;
     height: 600px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
    
}

.about-content{
    width: 70%;
    border-bottom: 2px solid #351165;
    margin-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}


.about-content h2{
    color: #FFFFFF;
    font-size: 48px;
    


}

.about-content p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    width: 700px;
    margin:  0 auto;
    margin-top: 16px;

}

.text{
    display: block;
    margin-top: 20px;
}

.about-number{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}
.about-item h2{
    color:#00FF88 ;
    font-size: 48px;
    font-weight:900;
}

.about-item p{
    color:#FFFFFF ;
    font-size: 16px;
    line-height: 20px;
}

.why{
    
    max-width: 100%;
    
    background-color: #230E3D;


}

.why-us{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 8%;
    padding-bottom: 100px;
    background-color: #230E3D;
    
    
    
}

.why-us h2{
    font-size: 48px ;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 120px;
}


.common{
    background-color: #280b4c ;
    border: 1px solid #280b4c ;
    border-radius: 40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}

.common h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
}
.common img{
    width: 50px;
    height: 50px;
}
.common p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    opacity: 60%;
    
}

.card1{
    
    grid-area: card1;
    min-height: 480px;
    padding-left: 40px;
}


.card2{
      grid-area: card2;
    min-height: 230px;
    padding-left: 40px;
    
    
}

.card3{
         grid-area: card3;
    min-height: 230px;
    padding-left: 40px;
}

.card4{
    grid-area: card4;
    min-height: 250px;
    padding-left: 40px;
}

.card5{
     grid-area: card5;
    min-height: 250px;
    padding-left: 40px;
   
}

.why-card{
     display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas:
        "card1 card2 card2"
        "card1 card3 card3"
        "card4 card4 card5";
    gap: 24px;
}



#feature{
    width: 100%;
    height: 1280px;
    background-color: #1A0B2E;

}

#feature h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}
.video{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.card{
    width: 330px;
    height: 400px;
    background-color: #250D42;
    border-radius: 40px;
    
}

.card h4{
    width:300px ;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 24px;
    padding-top: 24px;
    
}


.card #paragraph{
    width: 310px;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    color: #FFFFFF;
    padding: 12px 24px;

}
.time{
    padding: 12px 24px 24px 24px;
    display: flex;
    gap: 5px;
    color: #00FF88;
}


.host h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    
    
   
}

.host-content{
    display: flex;
    gap: 1.5rem;
     padding: 40px;
    margin: 0 auto;
    width: 80%;
    background-color: #250D42;
    border-radius: 40px;
}


.icon{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    
}


.icon img{
    
    background: transparent;
    border: 2px solid #533C72;
    border-radius:50%;
    padding: 10px;
    
} 

.text-icon h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}


.text-icon p{
    
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}


footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 412px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h2{
    text-align: center;
    margin-bottom: 40px;
    
}


.foot{
    display: flex;
    gap: 40px;
    justify-content: center;
    
    
}


.icon1{
    display: flex;
    gap: 8px;
    color: #FFFFFF;
   
    
    
}


.icon1 p{
     opacity: 60%;

}
.copy{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    opacity: 60%;
    margin-top: 32px;
}


@media screen and (max-width:576px) {

    header nav{
       width: 576px;
       
       display: flex;
       justify-content:space-between;
    }

    header nav ul,.btn{
        display: none;
    }

    .hide{
        display: block;
        padding-right: 20px;
    }

     header nav h2{
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
     }



     #banner{
        width: 576px;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #1A0B2E;
        
            
        
     }



.mic-container{
 margin-top: 60px;
  margin-top: 10px;  
  position:relative;
  width:200px;
  height:200px;
}

.mic-icon{
    width: 30%;
    height: 45%;
}


.bg-circle{
  width:100%;
  height:100%;
}


.btnn .btn1{
    width:220px;
    display: flex;
    justify-content: center;
     font-size: 16px;
}

.btnn .btn2{
    width:180px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}


    #banner h1{
        font-size: 50px;
        

    }
#banner p{
    font-size: 20px;
    text-align: center;
    opacity: 80%;
}
    .why-card{
     height: auto;
    margin: 0 auto;
    width: 400px;
    display: grid;
    grid-template-areas: " card1" 
                        " card2"
                        " card3"
                        "card4"
                        "card5"
        ;
}
 
.common{
    width: 400px;
    height: auto;
    padding: 40px 20px;
}

.card5{
    margin-bottom: 42px;
}






.why{
    min-width: 576px;
    margin: 0 auto;
    
}


.why-us h2{
    font-size: 42px;
    
}

.about-number{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-number h2{
    font-size: 42px;
    margin-top: -40px;
    
    

}

.about-number p{
    font-size: 18px;
    margin-top: 10px;
    

}


.about-content h2{
    font-size: 42px;
    margin-top: -40px;
}

.about-content p{
    font-size: 16px;
    width: 380px;
    opacity: 80%;
    line-height: 22px;
    margin-bottom: -40px;
    
}

#About{
    width: 576px;
    height: 600px;

}


    #feature{
        width: 576px;
        height: 2300px;
        
    }

    #feature h2{
        font-size: 42px;
        
    }
 
    
    .video{
        width: 400px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 420px;
    }

   .card h4{
    font-size: 24px;
    width: 400px;
   }

     .card #paragraph{
    font-size: 18px;
    width: 400px;
   }

    .host-content{
        width: 400px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        
    }

    .host-images{
        width: 150px;
        height: 150px;
    }

    .icon{
        display: flex;
        justify-content: center;
    }



    .foot{
        width: 300px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       
    }

    .icon1{
        width: 80px;

    }

    .t{
         width: 150px;
    }

     .icon1 img{
        width: 24px;
        height: 24px;
     }

    .foot p{
        font-size: 20px;

    }
   
    .copy{
        font-size: 20px;
    }

    footer{
        width: 576px;
        background-size: contain;
        background-color: #220942;

        
    }

   

   
   
    
}





/* large device responsive
 */

@media screen and (min-width:992px) {

    #feature{
        min-width: 992px;
        max-width: 100%;
    }


    .host-content{
   
    padding: 40px;
    margin: 0 auto;
    min-width: 930px;
    max-width: 80%;
    
   
}



.text-icon p{
    min-width: 660px;
    max-width: 900px;
    
    
   
}
    
}














