*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');






.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

header nav{
        
        
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;
        background-color: #1A0B2E;
        color: #FFFFFF;
        border-bottom: 2px solid #351165;
       
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}




nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}


nav ul a:hover{
          
    color: #FB09B4;
    transition: all 0.3s ease;

}

.btn{
    display: flex;
    gap: 10px;
}

.btn button{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    text-align: center;
      background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  )

  
    
    
}

.hide{
    display: none;
}


.btn button:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
    
}



.btnn{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 100px;

}

.btnn .btn1{
       display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    text-align: center;
      background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  )


}

.btnn .btn1:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
}


.btnn .btn2{

    border: 2px solid #00FF88;
    padding: 13px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;

}


.btnn .btn2:hover{
    background-color: #FFFFFF;
    color: black;
    transform: all 0.3s ease;
}





.btn button span{
    font-size: 16px;
}

.btn button .btn2{
    border: 3px solid green;

}





#banner{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    max-height:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}






.mic-container{
 margin-top: 60px;
    
  position:relative;
  width:280px;
  height:280px;
}


.bg-circle{
  width:100%;
  height:100%;
}


.mic-icon{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:90px;
}


.new-badge{
  position:absolute;
  top:10px;
  right:10px;
  background:#00ff9c;
  color:#000;
  font-size:14px;
  font-weight:bold;
  padding:6px 14px;
  border-radius:20px;
}


#banner h1{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 60px;
    margin-top: 40px;
}

#banner p{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 16px;
}


#About{
    width:100%;
     background-color: #1A0B2E;
     height: 600px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.about-content{
    width: 70%;
    border-bottom: 2px solid #351165;
    margin-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}


.about-content h2{
    color: #FFFFFF;
    font-size: 48px;



}

.about-content p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    width: 700px;
    margin:  0 auto;
    margin-top: 16px;

}

.text{
    display: block;
    margin-top: 20px;
}

.about-number{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}
.about-item h2{
    color:#00FF88 ;
    font-size: 48px;
    font-weight:900;
}

.about-item p{
    color:#FFFFFF ;
    font-size: 16px;
    line-height: 20px;
}

.why{
    width:100%;
    background-color: #230E3D;


}

.why-us{
    width: 1100px;
    margin: 0 auto;
    background-color: #230E3D;
    
    
    
}

.why-us h2{
    font-size: 48px ;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 120px;
}


.common{
    background-color: #351165 ;
    border: 1px solid #351165 ;
    margin: 10px;
    padding: 80px 40px;
    border-radius: 40px;
    
    
    
}

.common h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
}

.common p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    
}

.card1{
    grid-area: card1;
}


.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}

.card5{
    grid-area: card5;
}

.why-card{
    display: grid;
    grid-template-areas: " card1 card2 card2" 
                        " card1 card3 card3"
                        " card4 card4 card5"
                           ;
}



#feature{
    width: 100%;
    height: 1280px;
    background-color: #1A0B2E;

}

#feature h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}
.video{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.card{
    height: 500px;
    background-color: #250D42;
    border-radius: 40px;
    
}

.card h4{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 24px;
}


.card #paragraph{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    color: #FFFFFF;
    padding: 12px 24px;

}
.time{
    padding: 12px 24px 24px 24px;
    display: flex;
    gap: 5px;
    color: #00FF88;
}


.host h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    
    
   
}

.host-content{
    display: flex;
    gap: 1.5rem;
     padding: 40px;
    margin: 0 auto;
    width: 80%;
    background-color: #250D42;
    border-radius: 40px;
}


.icon{
    display: flex;
    gap: 20px;
    margin-top: 16px;
    
}


.icon img{
    
    background-color: #533C72;
    border: 1px solid red;
    border-radius: 100%;
    padding: 10px;
} 

.text-icon h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}


.text-icon p{
    
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}


footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 412px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h2{
    text-align: center;
    margin-bottom: 40px;
    
}


.foot{
    display: flex;
    gap: 40px;
    justify-content: center;
    
    
}


.icon1{
    display: flex;
    gap: 8px;
    color: #FFFFFF;
    
    
}

.copy{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    margin-top: 32px;
}


@media screen and (max-width:576px) {

    header nav{
       max-width: 576px;
       display: flex;
       justify-content: space-around;
    }

    header nav ul,.btn{
        display: none;
    }

    .hide{
        display: block;
    }

     header nav h2{
        display: flex;
        justify-content: flex-start;
     }



     #banner{
        width: 576px;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #1A0B2E;
        
            
        
     }

    .mic-container{
 margin-top: 60px;
  margin-top: 10px;  
  position:relative;
  width:200px;
  height:200px;
}

.mic-icon{
    width: 30%;
    height: 45%;
}


.bg-circle{
  width:100%;
  height:100%;
}

    #banner h1{
        font-size: 48px;
        

    }
#banner p{
    font-size: 12px;
}
    .why-card{
        margin: 0 auto;
    width: 380px;
    display: grid;
    grid-template-areas: " card1" 
                        " card2"
                        " card3"
                        "card4"
                        "card5"
        ;
}
 

.why-us{
    width: 576px;
    margin: 0 auto;
    
}


.why-us h2{
    font-size: 32px;
}

.about-number{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-number h2{
    font-size: 32px;

}

.about-number p{
    font-size: 12px;

}


.about-content h2{
    font-size: 32px;
}

.about-content p{
    font-size: 12px;
    width: 380px;
}

#About{
    height: 700px;

}


    #feature{
        width: 576px;
        height: 2800px;
    }

    #feature h2{
        font-size: 32px;
    }
 
    
    .video{
        width: 380px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .host-content{
        width: 380px;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        
    }

    .foot{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .foot p{
        font-size: 20px;

    }
   
    .copy{
        font-size: 20px;
    }

    footer{
        width: 576px;
        background-size: contain;
        background-color: #220942;

        
    }

   
   
    
}












